@charset "utf-8";

body{
  overflow: hidden;
}
h2{display: none;}
/* piano */
.piano{
  position: relative;
  left: 0px;
  width: 22.5%;
  height: 100%;
}
.piano *{
position: absolute;
}
.white{
  width: 90%;
  height: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  transition: all 1s;
}
.white1{top: 0px;background: #ffffff;}
.white2{top: 23px;background: #ffffff;}
.white3{top: 46px;background: #ffffff;}
.white4{top: 69px;background: #ffffff;}
.white5{top: 92px;background:#ffffff;}
.white6{top: 115px;background:#ffffff;}
.white7{top: 138px;background: #ffffff;}
.white8{top: 161px;background: #ffffff;}
.piano .white9{top: 184px;background: #eeb6d5;}
.piano_r .white9{top: 184px;background: #ffffff;}
.white10{top: 207px;background: #ffffff;}
.white11{top: 230px;background: #ffffff;}
.white12{top: 253px;background:#ffffff;}
.white13{top: 276px;background:#ffffff;}

.white:hover{
  transform: scale(0.9);
  transform: translateY(2px);
  background-color: #c5ddf5;
}
.white1:hover{
  background: #C2E1F9;}
.white2:hover{
  background: #c9daf4;}
.white3:hover{
  background: #CED3EF;}
.white4:hover{
  background: #D6C5E5;}
.white5:hover{
  background: rgb(221, 204, 226);}
.white6:hover{
  background: #e9c2df;}
.white7:hover{
  background: #E6B0D6;}
.white8:hover{
  background: #EEA6CE;}
.white9:hover{
  background: #ffffff;}
.white10:hover{
  background: #EFA4CD;}
.white11:hover{
  background: #F899C5;}
.white12:hover{
  background: #f5adce;}

.black{
  width: 20%;
  height: 10px;
  z-index: 10;
  border-radius: 3px;
  box-shadow: 5px 5px 5px gray;
  transition: all 1s;
}

.black1{
  background: #EDA6CE;
  top:15px;
  animation: a_black 1s infinite alternate;
}
.black2{
  background: #EFA4CD;
  top:38px;
  animation: a_black 1.1s infinite alternate;
}
.black3{
  background: #EAACD3;
  top:84px;
  animation: a_black 1.2s infinite alternate;
}
.black4{
  background: #DBC0E1;
  top:107px;
  animation: a_black 1.3s infinite alternate;
}
.black5{
  background: #D9C1E1;
  top:130px;
  animation: a_black 1s infinite alternate;
}
.black6{
  background: #D6C5E5;
  top:176px;
  animation: a_black 1.2s infinite alternate;
}
.black7{
  background: #D0D1ED;
  top:199px;
  animation: a_black 1s infinite alternate;
}
.black8{
  background: #CAD8F2;
  top:245px;
  animation: a_black 1.1s infinite alternate;
}
.black9{
  background: #becce7;
  top:268px;
  animation: a_black 1s infinite alternate;
}
@keyframes a_black{
  0%{width: 20%;}
  100%{width: 40%;}
}
.piano_r{
  position: relative;
  left: 350px;
  width: 22.5%;
  height: 100%;
}
.piano_r *{
position: absolute;
right: 0px;
}
.piano_r .white{
  box-shadow: -5px 5px 10px gray;
}
.piano_r .white1:hover{
  background: #C2E1F9;}
.piano_r .white2:hover{
  background: #c9daf4;}
.piano_r .white3:hover{
  background: #CED3EF;}
.piano_r .white4:hover{
  background: #D6C5E5;}
.piano_r .white5:hover{
  background: rgb(221, 204, 226);}
.piano_r .white6:hover{
  background: #e9c2df;}
.piano_r .white7:hover{
  background: #E6B0D6;}
.piano_r .white8:hover{
  background: #EEA6CE;}
.piano_r .white9:hover{
  background: #ffffff;}
.piano_r .white10:hover{
  background: #EFA4CD;}
.piano_r .white11:hover{
  background: #F899C5;}
.piano_r .white12:hover{
  background: #f5adce;}

.piano_r .black{
  box-shadow: -5px 5px 5px gray;
}

.piano_r .black1{
  background: #C5DDF5;}
.piano_r .black2{
  background: #C9DAF4;}
.piano_r .black3{
  background: #CBD7F1;}
.piano_r .black4{
  background: #CED2EF;}
.piano_r .black5{
  background: #CED2ED;}
.piano_r .black6{
  background: #D2CFEC;}
.piano_r .black7{
  background: #DBC0E1;}
.piano_r .black8{
  background: #DCBDDF;}
.piano_r .black9{
  background: #DFBCDD;}
  

  
/* 스킬박스 */
.notepage{
  width: 1000px;height: 1000px;
  background: #D0D1ED;
}
.line1{
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
#skill >div {
  margin: 100px 0px 0px;
  width: 100%;
}
.s_box{
  display: flex;
  width: 80%;
  margin: 50px auto;
}
.s_box> div{
  width: 25px;
  margin-left: 10px;
}
.s_box >img{
  transform: translate(-5px,-7px);
  /* height: 100%; */
  width: 30px;
}
#html >img{
  width: 80%;
  transform: translate(-3px,-1px);
}
#css >img{
  width: 80%;
  transform: translate(-3px,-5px);
}
#js >img{
  width: 80%;
  transform: translate(-3px,2px);
}
#react >img{
  width: 80%;
  transform: translate(-3px,1px);
}
#photo >img{
  width: 100%;
  transform: translate(-3px,-10px);
}

.l_box{
  display: flex;
  position: relative;
}
.logobox >*{
  position: absolute;
}
.logobox {
  position: relative;
}
.line01{top: 60px;}
.line02{top: 65px;}
.line03{top: 70px;}
.line04{top: 75px;}
.line05{top:80px;}

